extends layout

block content
    .w3-display-classes
        .w3-container.w3-display-middle(style='width: 60%;')
            table#example.dataTable.display(style='width: 100%;display:none' role='grid' aria-describedby='example_info')
                thead
                    tr(role='row')
                        th.sorting(tabindex='0' aria-controls='example' rowspan='1' colspan='1' aria-label='Title: activate to sort column ascending' style='width: 167px;') Title
                        th.sorting.sorting_desc(tabindex='0' aria-controls='example' rowspan='1' colspan='1' aria-label='Issue Number: activate to sort column ascending' style='width: 126px;' aria-sort='descending') Issue Number
                        th.sorting(tabindex='0' aria-controls='example' rowspan='1' colspan='1' aria-label='# Characters: activate to sort column ascending' style='width: 60px;') # Characters 
                tbody
                    for comic in list
                        tr.odd
                            td
                                a(href='/comics/'+comic.id)=comic.title
                            td=comic.issueNumber
                            if comic.personagens
                                td=comic.personagens.length
                            else
                                td 0    
    footer.w3-black