extends layout

block content
    .w3-display-classes
        .w3-container.w3-display-middle(style='margin-top:10px;width: 60%;')
            table(style='overflow-y:auto;display:none')#example.w3-table-all.w3-responsive
                colgroup
                    col(width='60%')
                    col(width='20%')
                    col(width='20%')
                thead
                    tr
                        th.sorting Title
                        th.sorting.sorting_desc Issue Number
                        th.sorting Number of Characters 
                tbody
                    for comic in list
                        tr(style="max-height:10px;")
                            td(style="max-height:10px;")
                                a(href='/comics/'+comic.id)=comic.title
                            if comic.issueNumber.length < 3 
                                td(style="max-height:10px; resize: none;")= comic.issueNumber
                            else
                                td(style="max-height:10px; resize: none;") -
                            if comic.personagens
                                td(style="height:10px;")=comic.personagens.length
                            else
                                td 0    
    footer.w3-black