extends layout

block content
  .w3-display-classes 
    .w3-display-middle
      h1.w3-text-red.w3-center
        b Welcome to the Marvel Universe
      img.center(src='/images/marvel-universe.jpg')
