doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/functions.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
    script(type='text/javascript' charset='utf8' src='http://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js')
  header 
    .navigation-bar
      #navigation-container
        a(href='/')
          img.logo(src='/images/Marvel_Logo.png')
        ul
          li
            a(href='/comics/') Comics
          li
            a(href='/personagens/') Characters
          if level == 0
            li
              a(href='/login') Login
          else
            li
              .w3-dropdown-hover.w3-hide-small
                button.w3-button Options 
                  i.fa.fa-caret-down
                .w3-dropdown-content.w3-bar-block.w3-white.w3-card-4
                  a.w3-bar-item.w3-button.w3-text-black(href='/adicionarPersonagem') Add Character
                  a.w3-bar-item.w3-button.w3-text-black(href='/adicionarComic') Add Comic
                  a.w3-bar-item.w3-button.w3-text-black(href='/logout') Logout
          
  body
    block content
