doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/functions.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
    script(type='text/javascript' charset='utf8' src='http://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js')
  header 
    .navigation-bar
      #navigation-container
        a(href='/')
          img.logo(src='/images/Marvel_Logo.png')
        ul
          li
            a(href='/comics/') Comics
          li
            a(href='/personagens/') Characters
          li
            if level == 0
              a(href='/logout') Logout
            else
              a(href='/adicionarPersonagem') Add Character
              a(href='/adicionarComic') Add Comic
              a(href='/login') Login 
  body
    block content
