doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  header 
    .w3-bar.w3-red 
      .w3-left
        img(src='images/Marvel_Logo.png' width="15%" height="15%" )
  body
    block content
