doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://localhost:3001/stylesheets/style.css')
    link(rel='stylesheet', href='http://localhost:3001/stylesheets/table.css')
    script(src='http://localhost:3001/javascripts/jquery.js')
    script(src='http://localhost:3001/javascripts/functions.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
    script(type='text/javascript' charset='utf8' src='http://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js')
  header 
    .navigation-bar
      #navigation-container
        a(href='/')
          img.logo(src='http://localhost:3001/images/Marvel_Logo.png')
        ul
          li
            a(href='http://localhost:3001/comics/') Comics
          li
            a(href='http://localhost:3001/personagens/') Characters
  body
    block content
