extends layout

block content 
    .w3-display-classes
        .w3-container.w3-section.w3-card-4.w3-display-middle(style='height:30%;height:30%')
            header.w3-container.w3-text-red
                h2 Login
            form.w3-container(action='login' method='POST')
                label.w3-text-red
                    b Email
                        input.w3-input.w3-border.w3-light-grey(type='text' name='_id')
                label.w3-text-red
                    b Password
                        input.w3-input.w3-border.w3-light-grey(type='password' name='password')
                br
                input.w3-btn.w3-btn.w3-text-red.w3-border.w3-margin-bottom.w3-left.w3-light-grey(type='submit' value='Login')
                input.w3-btn.w3-border.w3-text-red.w3-margin-bottom.w3-right.w3-light-grey(type='reset' value='Limpar valores')